body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

/* Home Header Section Background */

.header {
    height: 800px;
    background-image:
        linear-gradient(to right bottom,
            rgba(76, 216, 255, 0.8),
            rgba(32, 68, 117, 0.8)),
        url('../images/online-piano-lessons.jpg');

    background-size: cover;
    background-position: top;
    position: relative;
}

/* Junior Piano Header Section Background */

.header-junior {
    height: 800px;
    background-image:
        linear-gradient(to right bottom,
            rgba(76, 216, 255, 0.8),
            rgba(32, 68, 117, 0.8)),
        url('../images/little-girl-taking-online-piano-lessons.jpg');

    background-size: cover;
    background-position: top;
    position: relative;
}

/* Teen Piano Header Section Background */

.header-teen {
    height: 800px;
    background-image:
        linear-gradient(to right bottom,
            rgba(76, 216, 255, 0.8),
            rgba(32, 68, 117, 0.8)),
        url('../images/teenage-girl-playing-piano-practisinggit add.jpg');

    background-size: cover;
    background-position: top;
    position: relative;
}

/* Contact Us Header Section Background */

.header-contact {
    height: 800px;
    background-image:
        linear-gradient(to right bottom,
            rgba(76, 216, 255, 0.8),
            rgba(32, 68, 117, 0.8)),
        url('../images/send-email.jpg');

    background-size: cover;
    background-position: top;
    position: relative;
}

/* Logo */

.logo-box {
    position: absolute;
    top: 20px;
    left: 40px;
}

.logo {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

/* Navigation Elements */

#menu {
    color: #fff;
    font-size: 100%;
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 40px;
    float: left;
    margin-top: 30px;
}

#menu li a {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
}

#menu a:hover {
    color: #111;
}

#book-now {
    background-color: red;
    color: white;
    border: red solid;
    border-radius: 25px;
    width: 200px;
}

/* Image Box on Header Image */

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 7.4px;
    color: red;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 18px;
}

/* Welcome Section */

#welcome {
    height: 400px;
    padding-left: 20%;
    padding-right: 20%;
}

#welcome h2 {
    text-align: center;
    color: rgb(150, 206, 238);
    letter-spacing: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#welcome p {
    color: black;
    text-align: justify;
    margin-top: 10px;
    line-height: 40px;
}

/* Title Section */

.title {
    height: 100px;
    padding-left: 20%;
    padding-right: 20%;
}

.title h2 {
    text-align: center;
    color: rgb(150, 206, 238);
    letter-spacing: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Lesson Types */

#lesson-types {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-image:
        linear-gradient(to right bottom,
            rgba(76, 216, 255, 0.8),
            rgba(32, 68, 117, 0.8)),
        url('../images/teen-playing-piano.JPG');

    background-size: cover;
    background-position: top;
    position: relative;
    color: white;
}

#lesson-types h2 {
    color: white;
    text-align: center;
    letter-spacing: 5px;
}

#lesson-types p {
    padding-top: 30px;
    text-align: justify;
}

#junior-piano {
    padding-top: 20px;
    width: 20%;
    float: left;
    margin-left: 10%;
    color: white;
}

#adult-piano {
    padding-top: 20px;
    width: 20%;
    float: right;
    margin-right: 10%;
    color: white;
}

#teen-piano {
    padding-top: 20px;
    width: 20%;
    margin: 0 auto;
    color: white;
}

.lesson-type-button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 20px;
    font-weight: bolder;
}

/* Column 1 & 2 */

.column-section {
    padding-top: 25px;
    height: 600px;
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.column-section a {
    font-weight: bold;
    color: rgb(150, 206, 238);
}

.column-left {
    padding-top: 30px;
    width: 42%;
    float: left;
    margin-right: 4%;
    margin-left: 4%;
    color: black;
    height: 400px;
}

.column-right {
    padding-top: 30px;
    width: 42%;
    float: right;
    margin-right: 4%;
    margin-left: 4%;
    color: black;
    height: 400px;
}

.column-section h3 {
    text-align: center;
}

.column-section p {
    text-align: justify;
    margin-top: 4%;
    margin-top: 4%;
}

.column img {
    text-align: center;
    height: 600px;

}

.blue-section {
    width: 100%;
    background-color: rgb(150, 206, 238, 0.8);
}

/*Fee Table*/

th {
    width: 45%;
    background-color: white;
    text-align: center;
    border: solid white 1px;
}

td {
    width: 45%;
    background-color: white;
    text-align: center;
    border: solid white 1px;
}

/*Book Now Button*/
.booking-button {
    background-color: red;
    width: 100%;
    border: none;
    color: white;
    padding: 20px 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 20px;
    font-weight: bolder;
}

/*Contact Form*/

#contact h2 {
    text-align: center;
    color: rgb(150, 206, 238);
    letter-spacing: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#contact p {
    color: black;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
}

.contact-form {
    max-width: 80%;
    text-align: left;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}


input[type=submit] {
    background-color: rgb(150, 206, 238);
    color: white;
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: black;
}



/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: rgb(150, 206, 238);
}